<div id="dashboardNotesContainer">
  <div id="dashboardNotesEntryContainer">
    <div>
      <h3>New Note</h3>
    </div>
    <p>
      Enter your observations and other dashboard notes
      in this text area and click "Save".
      Review your notes before submitting as they cannot
      be edited or altered after they have been saved.
    </p>
    <div>
      <form id="dashboardNotesEntryForm" action="" method="post">
        <div>
          <textarea name="note" required="required"/>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">
            <span>Save</span>
          </button>
          <button type="reset" class="btn">
            <span>Clear</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="dashboardNotesDisplayContainer">
    <div>
      <h3>Notes</h3>
    </div>
    <div class="fieldset">
      <div class="input">
        <label>Notes entered during</label>
        <div id="dashboardNotesTimeRangeContainer"/>
      </div>
      <div class="input">
        <label>Notes entered by user</label>
        <div id="dashboardNotesSearchInputUserContainer"/>
      </div>
      <div class="input">
        <label>Notes containing text</label>
        <div id="dashboardNotesSearchInputNoteContainer"/>
      </div>
    </div>
    <div id="dashboardNotesTableContainer"/>
  </div>
</div>
