
#dashboardNotesContainer {
    padding: 0 !important;
}


#dashboardNotesEntryContainer,
#dashboardNotesDisplayContainer {
    width: 100%;
}

#dashboardNotesEntryContainer {
    min-width: 36.00em;
    max-width: 40.00em;
}

#dashboardNotesEntryContainer > * {
    margin: 1.00em;
}

#dashboardNotesDisplayContainer > div > h3 {
    margin-left:  1.00em;
    margin-right: 1.00em;
}

#dashboardNotesEntryContainer textarea {
    width: 96%;
    height: 8em;
}


@media (min-width: 72.00em) {

#dashboardNotesEntryContainer {
    float: right;
    min-width: 32.00em;
    max-width: 32.00em;
    min-height: 20em;
}

#dashboardNotesDisplayContainer {
    float: left;
    width: calc(100% - 32.00em);
}

#dashboardNotesEntryContainer textarea {
    min-height: 16em;
}

}
